@import url('https://rsms.me/inter/inter.css'); 

html { 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
}

input {
    font: inherit;
}

/* Default for SM/MD screen breakpoints */
body { 
    font-size: 1rem;
    line-height: 1.275;
}

h1 {
    font-size: 2.5rem;
    margin-top: 1.075em;
	margin-bottom: 0.375em;
}

.page-content {
    width: 60%;
}

/* smaller type for XS breakpoint */
@media (max-width: 544px) {
    body { 
        font-size: 0.875rem;
    }
    
    h1 { 
        font-size: 1.75rem;
    }
    
    .container {
        border: none !important;
    }    
    
    .page-content {
        width: 100%;
    }
    
    #user-name {
        padding: 0.375rem !important;
        display: block;
    }

    .header-navbar {
        padding: 1.5rem !important;
    }
}

/* reduce content width for LG/XL breakpoint */
@media (min-width: 1088px) {
    .page-content {
        width: 40%;
    }
}

/* larger type for XL breakpoint */
@media (min-width: 1344px) {
    body { 
        font-size: 1.125rem;
    }

    h1 { 
        font-size: 2.8125rem;
    }
}

.page-content {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

#logo {
    width: 60%;
    padding: 6%;
    margin: 0px auto;
}

.container {
    height: auto;
    border: 1px solid #F2F3F5;
    margin: 5% auto 0 auto;
    padding: 5% 3%;
}

.form-input-label {
    font-weight: 700;
    color: #1C1E23; 
    display: block;
    text-align: left;
    margin-bottom: 0.375rem;
}

.form-input {
    width: 100%;
    border: 1px solid #165c96;
    border-radius: 4px;
    padding: 12px;
}

.label-error {
    color: #b3000f; 
}

.input-error {
    border: 2px solid #b3000f;
    margin: -1px;
}

.form-message-container {
    border: 2px solid;
    border-radius: 4px;
    padding: 12px;
    text-align: left;
}

.form-error {
    border-color: #b3000f;
    color: #b3000f;
    background: #F2DEDE;
}

.form-success {
    border-color: #145A06;
    color: #145A06;
    background: #DFF0D8;
}

.form-warning {
    border-color: #FFDD00;
    background: rgb(255, 247, 191);
}

.form-info {
    border-color: #D8DFE6;
    background: rgb(242, 243, 245);
}

.form-input:focus, .form-input:hover {
    border: 2px solid #165c96;
    margin: -1px;
}

.input-error:focus, .input-error:hover {
    border: 2px solid #b3000f;
}

.form-group {
    padding: 1rem;
}

.submit-group {
    padding-bottom: 0rem;
}

a {
    color: #165C96; 
    font-weight: 500;
    text-decoration: none; 
}

a:hover, a:focus {
    color: #0B2F4C; 
    text-decoration: underline;
}

a:visited {
    text-decoration: none; 
}

.forgot-password {
    float: right;
}

.back-link {
    float: left;
}

#sign-in, #submit {
    display: block;
    border-radius: 3px;
    font-weight: 500; 
    border: none;
    width: 100%;
    height: 48px;
    margin: 3rem auto 2rem auto;
    background-color: #165C96;
    color: #FFFFFF;
}

#sign-in:hover, #sign-in:focus {
    background-color: #0B2F4C; 
}

#sign-out {
    border-radius: 3px;
    font: inherit;
    font-weight: 500; 
    border: none;
    color: #165C96; 
    text-align: center; 
    line-height: 24px; 
    font-weight: 500;
    padding: 0.5rem 1rem; 
}

#sign-out:hover, #sign-out:focus {
    background-color: #CEE0F4; 
}

.header-navbar {
    height: 3rem;
    background-color: #494F5C;  
    margin: -8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#user-name {
    color: #FFFFFF;
    padding: 1rem;
}

.header-content > h1 {
    margin: 1.5rem;
    text-align: left;
}

.main-content {
    height: 100%;
    margin: -8px;
    background-color: #E9EAED;
    text-align: left;
}

.content-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.content-box {
    background-color: #FFFFFF;
    height: auto;
    width: 20rem;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}

.content-box > h2 {
    display: inline-block;
    margin: 1rem 0rem 0rem 0.5rem;
}
